<!-- page title -->
<section class="page-title bg-primary position-relative overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary">{{.Title}}</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img class="bg-shape-1 w-100" src="{{`images/illustrations/Background.jpg` | relURL}}" style="height: inherit;" alt="bg-shape">
  <img src="{{`images/illustrations/css3-alt-brands.svg` | relURL}}" height="125px" style="filter: invert(1);" alt="illustrations" class="bg-shape-2">
  <img src="{{`images/illustrations/dev-brands.svg` | relURL}}" height="50px" style="filter: invert(1);" alt="illustrations" class="bg-shape-3">
  <img src="{{`images/illustrations/html5-brands.svg` | relURL}}" height="80px" style="filter: invert(1);" alt="illustrations" class="bg-shape-4">
  <img src="{{`images/illustrations/js-brands.svg` | relURL}}" height="97px" style="filter: invert(1);" alt="illustrations" class="bg-shape-5">
  <img src="{{`images/illustrations/microsoft-brands.svg` | relURL}}" height="100px" style="filter: invert(1);" alt="illustrations" class="bg-shape-6">
  <img src="{{`images/illustrations/github-brands.svg` | relURL}}" height="130px" style="filter: invert(1);" alt="illustrations" class="bg-shape-7">
</section>
<!-- /page title -->
