<div class="col-10 col-lg-8">
    <div class="experience-entry-heading">
        <!-- For single position, give emphasis on the designation-->
        <h5>{{ .title }}</h5>
        <h6>{{ if .company }}<a href={{ .url }} title="{{ .company }}" target="_blank" rel="noopener">{{ .company }}</a>{{ else }}{{ .company }}{{ end }}</h6>
        <!-- Add experience duration info -->
        <p class="text-muted">{{ .start }} - {{ if .end }}{{ .end }}{{ else }}{{ i18n "present" }}{{ end }},
        </p>
    </div>
    <!-- Add company overview -->
    <p>{{ .overview | markdownify }}</p>
    <!-- Add the responsibilities handled at this position -->
    <h6 class="text-muted">{{ i18n "responsibilities" }}</h6>
    <ul class="justify-content-around">
        {{ .responsibilities | markdownify }}
    </ul>
</div>