{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- portfolio -->
<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <div class="btn-group btn-group-toggle justify-content-center d-flex flex-wrap" data-toggle="buttons">
          <label class="btn btn-sm btn-primary active">
            <input type="radio" name="shuffle-filter" value="all" checked="checked" />Tout
          </label>
          {{ $categories := slice }}
          {{ range .Data.Pages }}
          {{ range .Params.categories }}
          {{ $categories = $categories | append . }}
          {{ end }}
          {{ end }}
          {{ range ( $categories | uniq ) }}
          <label class="btn btn-sm btn-primary">
            <input type="radio" name="shuffle-filter" value="{{ . | urlize }}" />{{ . | humanize }}
          </label>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {{ range .Data.Pages }}
      <div class="col-lg-4 col-6 mb-4 shuffle-item"
        data-groups="[{{range $index, $element:= .Params.categories }}{{if ne $index 0}},{{end}}&quot;{{. | urlize}}&quot;{{ end }}]">
        <a class="skill-card-link" href="{{ .Permalink }}" title=".Params.title">
          <div class="card custom-skill-card">
            <div class="card-head d-flex">
              <h5 class="card-title">{{ .Params.title }}</h5>
            </div>
            <div class="card-body">
              <p class="card-text">{{ .Params.description | markdownify }}</p>
            </div>
          </div>
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}